[core]
  excludesfile = /Users/aroscoe/.gitignore
  autocrlf = input
[user]
  name = Anthony Roscoe
  email = me@anthonyroscoe.com
[alias]
  ci = commit
  co = checkout
  st = status
  log1 = log --oneline
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[push]
  default = current
[mergetool]
  tool = opendiff
[credential]
  helper = osxkeychain
